.input {
  width: 100%;

  color: $light;
  text-align: center;

  background-color: $darkLight;
  border: 0;
  border-radius: 10px;

  &:focus {
    outline: none;
  }

  &_primary {
    padding: 15px 0;

    line-height: 20px;
  }

  &_secondary {
    padding: 7px 0;
  
    font-size: 12px;
    line-height: 14px;
  }
}
