.button-back {
  line-height: 16px;

  height: 16px;

  display: flex;

  background-color: transparent;

  &_blue {
    color: $blue;
  }

  &_light {
    color: $light;
  }

  &__icon {
    margin-right: 6px;
  }
}
