{{#>form}}
  <div class="profile-edit-data__info">
    {{#each inputs}}
      {{{this}}}
    {{/each}}
  </div>

  <div class="profile-edit-data__buttons">
    {{> buttonMain text='Save' class='primary' type='submit'}}
  </div>
{{/form}}
