.buttonMain {
  width: 100%;
  height: 50px;

  &_primary {
    color: $light;

    background-color: $blue;
  }

  &_secondary {
    color: $blue;

    background-color: transparent;
  }

  &_danger {
    color: $light;

    background-color: $redDark;
  }
}
