{{#> layoutMain }}
  {{#> layoutCard secondary=true}}
    {{> title text='Welcome' mt='65px' mb='60px'}}

    {{#if isLoading}}
      <div class="pagesAuthorization__throbber">
        {{> throbber}}
      </div>
    {{else}}
      {{{form}}}
    {{/if}}

    {{{buttonMain}}}
  {{/layoutCard}}
{{/layoutMain}}
