<div class="profile-info-edit">
  <div class="profile-info-edit__title__wrapper">
    <span class="profile-info-edit__title">{{title}}</span>
  </div>

  <div class="profile-info-edit__input">
    {{> @partial-block }}
  </div>
</div>