.profile-info-edit {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 36px;
  margin-bottom: 20px;
    
  &__title {
    font-size: 14px;
    color: $light;

    &__wrapper {
      flex: 1;
  
      height: 100%;

      border-bottom: 1px solid $gray;
    }
  }

  &__input {
    flex: 1;

    padding: 0 4px;
  }
}
