<div class="chats-dialog-header">
   <div class="chats-dialog-header__user">
      <img src={{imageSrc}}
            alt="ProfileImage">

      <h3>{{firstName}} {{secondName}}</h3>
    </div>
  
  <img src="{{IconDots}}" alt="Dots">
</div>
