<div class="chatsDialogHeader">
   <div class="chatsDialogHeader__user">
      {{#if imageSrc}}
        <img src={{imageSrc}}
              alt="ProfileImage">
      {{/if}}
      {{#if title}}
        <h3>{{title}}</h3>
      {{/if}}
    </div>
  
  <div class="chatsDialogHeader__buttonWrapper">
    {{{chatsDialogHeaderButton}}}

    {{{modalsEditChats}}}
  </div>
</div>
