{{#>form}}
  <div class="profile-edit-password__info">
    {{#if isLoading}}
      <div class="formProfileEditPassword__throbber">
        {{> throbber}}
      </div>
    {{else}}
      {{#each inputs}}
        {{{this}}}
      {{/each}}
    {{/if}}
  </div>

  <div class="profile-edit-password__buttons">
    {{> buttonMain text='Save' class='primary' type='submit'}}
  </div>
{{/form}}
