.chats-dialog-message {
  max-width: 350px;
  padding: 10px;
  margin-top: 20px;

  background-color: $darkPrimary;
  border-radius: 10px 10px 10px 0;

  &_by-user {
    align-self: flex-end;

    background-color: $blue;
    border-radius: 10px 10px 0 10px;
  }

  & span {
    font-size: 14px;
    font-weight: 500;
    color: $light;
  }
}
