{{#> layoutMain }}
  {{#> layoutWindow }}
    <div class="layout-profile__back-button">
      {{{buttonBack}}}
    </div>
    <div class="layout-profile">
      {{{form}}}
    </div>
  {{/layoutWindow}}
{{/layoutMain}}
