{{#> layoutMain }}
  {{{navigation}}}

  {{#> layoutWindow }}
    <div class="layout-profile__back-button">
      {{> buttonBack text='Profile' modifier='light' light=true}}
    </div>
    <div class="layout-profile">
      {{{form}}}
    </div>
  {{/layoutWindow}}
{{/layoutMain}}
