<div class="navigation">
  <button onclick="goToPage('authorization')">Authorization</button>
  <button onclick="goToPage('registration')">Registration</button>
  <button onclick="goToPage('error500')">error500</button>
  <button onclick="goToPage('error404')">error404</button>
  <button onclick="goToPage('profileMain')">ProfileMain</button>
  <button onclick="goToPage('profileEditData')">ProfileEditData</button>
  <button onclick="goToPage('profileEditPassword')">ProfileEditPassword</button>
  <button onclick="goToPage('modals')">Modals</button>
  <button onclick="goToPage('chats')">Chats</button>
</div>