<nav class="navigation">
  <button onclick="goToPage('authorization')" type="button">Authorization</button>
  <button onclick="goToPage('registration')" type="button">Registration</button>
  <button onclick="goToPage('error500')" type="button">error500</button>
  <button onclick="goToPage('error404')" type="button">error404</button>
  <button onclick="goToPage('profileMain')" type="button">ProfileMain</button>
  <button onclick="goToPage('profileEditData')" type="button">ProfileEditData</button>
  <button onclick="goToPage('profileEditPassword')" type="button">ProfileEditPassword</button>
  <button onclick="goToPage('modals')" type="button">Modals</button>
  <button onclick="goToPage('chats')" type="button">Chats</button>
</nav>
