<div class="modalsEditChats {{#if show}}modalsEditChats_show{{/if}}">
  <div class="modalsEditChats__buttons">
    {{{createChatButton}}}

    {{#if selectedId}}
      {{{addUserButton}}}

      {{{deleteUserButton}}}
    {{/if}}
  </div>
  

  {{{ModalsEditChatsCloseButton}}}
</div>
