.modalsEditChats {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 1000;
  display: none;
  width: 180px;
  padding: 10px 10px 0;
  background-color: $darkPrimary;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.25), -2px -2px 20px 2px rgba(0, 0, 0, 0.25);
  
  &__buttons {
    position: relative;
    z-index: 1000;
  }

  & img {
    margin-right: 6px;
  }

  &_show {
    display: block;
  }
}
