<div class="profile-avatar__wrapper">
  <div class="profile-avatar">
    <img class="icon" src="{{IconAvatar}}">
  </div>

  {{#if text}}
      <span class="profile-avatar__title">{{text}}</span>
  {{/if}}
</div>