.profile-avatar {
  width: 130px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: $gray;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $light;
    
    font-weight: 600;

    margin-top: 10px;
  }
}
