.modalsEditChatsButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  color: $light;
  border-radius: 6px;

  &:hover {
    background-color: $gray;
  }
}
