{{#> layoutMain }}
  {{#> layoutWindow }}
    <div class="layout-profile__back-button">
      {{{buttonBack}}}
    </div>
  
    <div class="layout-profile">
      <div class="profile-edit-data__avatar">
        {{{avatar}}}
      </div>

      {{{form}}}
    </div>

    {{{modalsFile}}}
  {{/layoutWindow}}
{{/layoutMain}}
