.modals {
  &__title {
    margin-top: 64px;
    margin-bottom: 44px;
  }

  &__button {
    color: $blue;

    text-decoration: underline;

    margin-bottom: 56px;

    background-color: transparent;
    border: 0;
  }

  &__file {
    color: $gray;

    margin-bottom: 56px;
  }
}