.modals {
  &__title {
    margin-top: 64px;
    margin-bottom: 44px;
  }

  &__button {
    margin-bottom: 56px;

    color: $blue;
    text-decoration: underline;

    background-color: transparent;
    border: 0;
  }

  &__file {
    margin-bottom: 56px;

    color: $gray;
  }
}
