{{#> layoutMain }}
  {{{navigation}}}

  {{#> layoutWindow }}
    <div class="error__wrapper">
      <div class="error__main">
        <h2 class="error__title">500</h2>

        <span class="error__text">We are fixing</span>
      </div>

      <div>
        {{> buttonBack text='Back to chats' modifier='blue'}}
      </div>
    </div>
  {{/layoutWindow}}
{{/layoutMain}}
