.chatsDialogForm {
  display: flex;

  flex: 1;

  & input {
    flex: 1;

    margin: 0 8px;

    color: $light;

    background-color: transparent;
    border: 0;
  }

  & button {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;
    padding: 0;

    background-color: transparent;
    border: 0;
  }
}
