<div class="chats-dialog-form">
  <button type="button">
    <img src={{IconAttachFile}} alt="AttachFile">
  </button>

  <form>
    <input name="message" placeholder="Write a message...">

    <button type="submit">
      <img src={{IconSend}} alt="Send">
    </button>
  </form>
</div>
