.input {
  position: relative;
  
  width: 100%;

  &__error {
    position: absolute;
    bottom: -14px;
    left: 0;

    display: none;

    font-size: 10px;
    color: $red;

    &_show {
      display: inline-block;
    }
  }
}
